MxWidget {
    font-family: "Action Man";
}

TbBox#photo-thing-photo-box {
    spacing: 5px;
    padding: 10px 10px 5px 10px;
    background-color: white;
}

MxLabel#photo-thing-camera-label,
MxLabel#photo-thing-caption-label {
    color: black;
    font-size: 15;
    padding: 5px 5px 2px 5px;
    background-color: none;
}

MxLabel#photo-thing-camera-label {
    border-image: url("caption-border.png") 3 3 3 3;
    background-color: #F6E88A;
}

TbBox#photo-thing-camera-box {
    background-color: black;
}
