MxBoxLayout#text-thing-text-box {
    padding: 0 20 0 20;
}

MxScrollView#text-thing-scroll-view {
    padding: 5 0 0 0;
    -mx-scrollbar-width: 15;
}

MxScrollBar *.vtrough,
MxScrollBar *.htrough {
  border-image: none;
}

MxButton.up-stepper,
MxButton.down-stepper {
  /* Remove this when support for hiding steppers
   * is implemented in Mx */
  -mx-content-image: url('pixel.png');
}

MxLabel {
    color: black;
    font-family: "Action Man";
}

MxLabel#text-thing-label-small {
    font-size: 10;
}

MxLabel#text-thing-label-medium {
    font-size: 13;
}

MxLabel#text-thing-label-big {
    font-size: 18;
}
