TbBox#video-thing-video-box {
    spacing: 1px;
    padding: 2px 2px 2px 2px;
    background-color: black;
}

TbBox#video-thing-content-box {
    spacing: 5px;
    padding: 2px 2px 5px 2px;
    background-color: black;
}

TbBox#video-thing-playback-box {
    background-color: white;
}

TbBox#video-thing-controls-box {
    background-color: none;
    padding: 15px;
}

TbBox#video-thing-video-controls-box {
    border-image: url('video-controls-bg.png') 8;
    padding: 6px 12px 6px 12px;
    spacing: 10px; 
}

MxButton#video-thing-play-button {
    background-color: none;
    border-image: none;
    padding: 0px;
    -mx-icon-name: play;
    -mx-icon-size: 24;
}

MxButton#video-thing-play-button:checked {
    -mx-icon-name: pause;
}

TbBox#video-thing-video-border-box {
    border-image: url("video-border.png") 20 20 20 20;
    background-color: none;
}

MxLabel#video-thing-caption-label {
    color: white;
    font-size: 15;
    font-family: "Action Man";
    padding: 5px 5px 2px 5px;
}

MxProgressBar#video-thing-progress-bar {
  border-image: url('video-progress-bar-bg.png') 4 4 6 4;
}

MxProgressBar#video-thing-progress-bar MxProgressBarFill {
  border-image: url('video-progress-bar-bar.png') 3;
  height: 12;
}

MxLabel#video-thing-time-label {
    color: white;
    font-size: 15;
    font-family: "Action Man";
}

TbBox#video-thing-time-label-box {
    padding: 4px 0px 0px 0px;
}
