/* Defaults */

TbBox {
    padding: 0;
}

MxWidget {
    font-family: "Action Man";
}

/* MainWindow */ 

TbBox#main-window-main-box {
    background-color: black;
    spacing: 10px;
}

TbBox#main-window-content-box {
    background-color: black;
}

TbBox#main-window-startup-box {
    border-image: url("startup.png") 3 3 3 3;
}

MxLabel#main-window-startup-label {
    color: black;
    font-size: 30;
}

TbBox#main-window-spinner-box {
    background-color: none;
    padding: 8px 8px 0px 0px;
}

MxSpinner#main-window-spinner {
    x-mx-spinner-animation-duration: 10;
}

/* Page */

TbBox#page-main-box {
    background-color: red;
}

TbBox#page-dim-box {
    background-color: #00000033;
}

TbBox#page-selection-box {
    border-image: url("simple-border.png") 3 3 3 3;
    background-color: #FFFFFF33;
}

/* Button */

TbBox#button-main-box {
    background-color: white;
}

MxButton#thing-link-button {
    -mx-icon-name: thing-link;
}

MxButton#thing-remove-button {
    -mx-icon-name: thing-remove;
}

MxButton#thing-resize-button {
    -mx-icon-name: thing-resize;
}

MxButton#thing-link-button,
MxButton#thing-resize-button,
MxButton#thing-remove-button {
    border-image: none;
    background-color: #00000000;
    padding: 0px;
    -mx-icon-size: 24;
}

/* PageButton */

TbBox#page-button-main-box,
TbBox#new-page-button-main-box {
    border-image: url("page-button-border.png") 3 3 3 3;
    background-color: white;
    spacing: 0px;
    padding: 0px 0px 1px 10px;
}

TbBox#new-page-button-main-box {
    background-color: #DDDDDD;
    border-image: none;
}

TbBox#new-page-button-main-box:hover {
    background-color: #AAAAAA;
}

TbBox#page-button-main-box:hover {
    background-color: white;
}

MxLabel#page-button-title-label {
    color: black;
    font-size: 18px;
    padding: 9px 7px 9px 0px;
}

MxButton#page-button-remove-button {
    border-image: none;
    background-color: #DDDDDD;
    padding: 2px 4px 2px 4px;
    -mx-icon-name: page-remove;
    -mx-icon-size: 24;
}

MxButton#page-button-remove-button:hover {
    background-color: #AAAAAA;
}

/* Spinner */

TbBox#spinner-main-box {
    background-color: #FFFFFFDD;
}

/* Toolbar */

TbBox#toolbar-main-box {
    border-image: url("page-list-shadow.png") 1 8 8 8;
    background-color: none;
    padding: 0px 8px 8px 8px;
}

TbBox#toolbar-content-box {
    background-color: white;
    spacing: 20px;
}

TbBox#toolbar-title-box {
    background-color: #AAAAAA;
    padding: 5px 12px 0px 12px;
}

MxLabel#toolbar-title-label {
    color: black;
    font-size: 18px;
}

/* ToolBox */ 

TbBox#tool-box-main-box {
    padding: 0px 12px 0px 12px;
    spacing: 12px;
}

TbBox#tool-box-title-box {
    padding: 10px 0px 5px 0px;
}

TbBox#tool-box-button-box {
    padding: 12px 0px 7px 0px;
    spacing: 10px;
}

MxLabel#tool-box-title-label {
    color: #999999;
    font-size: 14px;
}

MxButton#tool-box-button {
    font-size: 14px;
    color: black;
    padding: 0;
    border-image: none;
}

MxButton#tool-box-button:checked {
    border-image: url("tool-box-button-selected.png") 4 4 4 4;
}

MxButton#tool-box-button:hover {
    border-image: url("tool-box-button-selected.png") 4 4 4 4;
}

TbBox#tool-box-pages-main-box {
    background-color: yellow;
    padding: 0px;
}

TbBox#tool-box-pages-button-box-editing,
TbBox#tool-box-pages-button-box:hover {
    background-color: #FFFF99;
}

TbBox#tool-box-pages-button-box,
TbBox#tool-box-pages-button-box-editing {
    padding: 0 0 0 4;
    spacing: 4px;
}

TbBox#tool-box-pages-list-container-box {
    border-image: url("page-list-shadow.png") 2 8 8 8;
    padding: 1px 8px 8px 8px;
}

MxBoxLayout#tool-box-pages-list-box {
    background-color: white;
}

TbBox#tool-box-pages-cover-box {
    background-color: white;
}

MxEntry#tool-box-pages-entry {
    border-image: none;
    background-color: white;
    font-size: 18px;
    color: black;
    padding: 8px 2px 3px 7px;
    caret-color: black;
    selection-background-color: #AAAAAA;
}

MxEntry#tool-box-pages-entry:focus {
    border-image: url("simple-border.png") 3 3 3 3;
    background-color: #EEEEEE;
}

MxButton#tool-box-pages-ok-button {
    -mx-icon-name: ok;
}

MxButton#tool-box-pages-less-button {
    -mx-icon-name: less;
}

MxButton#tool-box-pages-more-button {
    -mx-icon-name: more;
}

MxButton#tool-box-pages-ok-button,
MxButton#tool-box-pages-less-button,
MxButton#tool-box-pages-more-button {
    border-image: none;
    background-color: #DDDDDD;
    padding: 4px 8px 2px 8px;
    -mx-icon-size: 16;
}

MxButton#tool-box-pages-ok-button:hover,
MxButton#tool-box-pages-less-button:hover,
MxButton#tool-box-pages-more-button:hover {
    background-color: #AAAAAA;
}

/* Thing */ 

TbBox#thing-main-box {
    border-image: url("shadow.png") 10 10 10 10;
}

TbBox#thing-main-box-selected {
    border-image: url("shadow-selected.png") 10 10 10 10;
}

TbBox#thing-main-box,
TbBox#thing-main-box-selected {
    background-color: none;
    padding: 8;
}

/* Background */ 

TbBox#background-main-box {
    background-color: black;
}
