MxBoxLayout#text-thing-text-box {
    background-color: none;
    padding: 10px 10px 4px 10px;
    border-image: url('bg.png') 10;
}

MxLabel {
    padding: 0px;
    color: black;
    font-family: "Action Man";
}

MxLabel#text-thing-label-small {
    font-size: 12;
}

MxLabel#text-thing-label-medium {
    font-size: 16;
}

MxLabel#text-thing-label-big {
    font-size: 24;
}
