TbBox#sound-thing-sound-box {
    background-color: black;
}

TbBox#sound-thing-content-box {
    spacing: 5px;
    padding: 17px 18px 2px 18px;
}

TbBox#sound-thing-button-box {
    background-color: #00000066;
    padding: 5px;
    spacing: 10px; 
}

TbBox#sound-thing-controls-box {
    spacing: 10px;
}

TbBox#sound-thing-playback-box {
    border-image: url('sound-controls-bg.png') 8;
    padding: 2px 7px 1px 5px;
    spacing: 5px; 
}

MxButton#sound-thing-play-button {
    background-color: none;
    border-image: none;
    padding: 0px;
    -mx-icon-name: play;
    -mx-icon-size: 24;
}

MxButton#sound-thing-play-button:checked {
    -mx-icon-name: pause;
}

MxButton#sound-thing-stop-button {
    background-color: none;
    border-image: url('stop-border.png') 4 4 4 4;
    padding: 7px 14px 3px 14px;
    font-family: "Action Man";
    font-size: 16;
    color: white;
}

TbBox#sound-thing-sound-border-box {
    border-image: none;
    background-color: none;
}

TbBox#sound-thing-caption-box {
    border-image: url('caption-border.png') 4 4 4 4;
}

TbBox#sound-thing-caption-box-recording {
    border-image: url('caption-border-recording.png') 4 4 4 4;
}

TbBox#sound-thing-caption-box,
TbBox#sound-thing-caption-box-recording {
    padding: 8px 5px 3px 5px;
}

MxLabel#sound-thing-caption-label {
    color: black;
    font-size: 13;
    font-family: "Action Man";
}

MxProgressBar#sound-thing-progress-bar {
  border-image: url('sound-progress-bar-bg.png') 4 4 6 4;
}

MxProgressBar#sound-thing-progress-bar MxProgressBarFill {
  border-image: url('sound-progress-bar-bar.png') 3;
  height: 12;
}

MxLabel#sound-thing-time-label {
    color: white;
    font-size: 15;
    font-family: "Action Man";
}

TbBox#sound-thing-time-label-box {
    padding: 4px 0px 0px 0px;
}

TbBox#sound-thing-spools-box {
    spacing: 56px;
}

MxSpinner#sound-thing-spool {
    -mx-spinner-image: url('cassete-spool.png');
    -mx-spinner-animation-duration: 72;
    -mx-spinner-frames: 8;
}
